h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 40px 0 0 0;
}

h2 {
  color: rgb(60, 101, 233);
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 60px 0 0;
}

h4 {
  color: rgb(96, 109, 122);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
}
.opensource {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(60, 101, 233);
    text-align: center;
    font-size: 14px;
}

.open {
    
    font-family:'Courier New', Courier, monospace;
    color: rgb(60, 101, 233);
    font-size: 14px;
    display: inline;

}

.btn-success {
  display: inline;
}

.searcher {
  display: inline;
}

.style:hover {
  background-color: rgb(187, 144, 2);
}

.weather {
  color: rgb(60, 101, 233);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.city {
  color: rgb(59, 66, 73);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.label-big-icon {
  color: rgb(60, 101, 233);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 70px;
}

.card-body {
  display: block;
  margin: 0 auto;
}

.card {
  top: 30px;
  display: block;
  margin: 0 auto;
}

.conversions {
  position: absolute;
  font-weight: bold;
  background: white;
  right: 100px;
  top: 250px;
}

.centigrades {
  font-weight: normal;
  position: absolute;
  right: 75px;
  top: 250px;
}

.main-icon {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.row {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.data {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.bottom {
  margin-bottom: 20px;
}
.label-icon,
.card-title,
.card-subtitle {
  text-align: center;
}
.night {
  color: slategrey;
  font-weight: 300;
}
.label-icon {
  color: rgb(60, 101, 233);
  font-size: 10px;
}

.card-subtitle {
  font-weight: 300;
  padding-bottom: 20px;
}
.frame-search {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font: 15px;
}
.kilometers {
    display: block;
    font-size: 10px;
}
